<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="./css/login.css">

    <style>
      .home-link{
        text-decoration: underline;
        color: white;
        position: absolute;
        left: 5%;
        top: 5%;
        font-size: 1.3rem;
        color: white;
      }
    </style>
</head>
<body>
  <a class="home-link" href="/">Home</a>
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Login Form</span></div>
          <form action="/login" method="POST">
            <div class="row">
              <!-- <i class="fas fa-user"></i> -->
              <input autocomplete="off"name="email" type="email" placeholder="Email or Phone" required>
            </div>
            <!-- <div class="row">
              <label for="user type">User Type :</label>
              <select name="userType" id="userType">
                <option value="Teacher">Teacher</option>
                <option value="Student">Student</option>
              </select>
           </div> -->
            <div class="row">
              <!-- <i class="fas fa-lock"></i> -->
              <input name="password" type="password" placeholder="Password"  required>
            </div>
            <!-- <div class="pass"><a href="#">Forgot password?</a></div> -->
            <div class="row button">
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="/register">Register now</a></div>
          </form>
        </div>
        <script>
          window.alert("If you want to test this project use following credentials \n email : testweb@gmail.com \n password : test1234 \n to login");
        </script>
</body>

</html>